.country {
    border: 2px solid rgb(13, 177, 150);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.button{
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    border: none;
    background-color: rgba(10, 155, 155, 0.315);    
}

.flag{
    height: 190px;
    width:100%
}

.visited-bg{
    background-color: rgba(8, 163, 163, 0.171);
}

h4{
    margin: 10px;
}